<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>552476674097-4ik9j5pau0kd5omg4i12anlbvk659fa9.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.552476674097-4ik9j5pau0kd5omg4i12anlbvk659fa9</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Allow Temple Tag to use your camera to take or update your profile picture.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
